*{
    text-decoration: none !important;
}
body{
    background-image: url('../../images/pexels-tom-fisk-13280364.jpg');
    background-position: center;
    background-size: cover;

}

.bg-headerfirst-color{
    background-color: #2d303d8c;
}
.bg-bodyfirst-color{
    background-color: #32354494;
}

.bg-main-color{
    background-color: #1e202b8e;
}

.bg-bodysec-color{
    background-color:#2629368e;

}


#navbar li .trans{
    transition: all 0.2s;
    /* padding-inline: 25px; */
}

#navbar li:hover .trans{
    border: 2px solid #009bd8 ;
    border-radius: 30px;
    padding-inline: 25px;

}

#navbar .home{
    border: 2px solid #009bd8 ;
    border-radius: 30px;
    padding-inline: 25px;
}


.navTxt{
    position: relative;
    padding-left: 7px;
    padding-bottom: 10px;

}

.navTxt::after{
    content: 'tagline goes here';
    position: absolute;
    top: 35px;
    left: 10px;
    font-size: x-small;
} 

.searchBar{
    padding-top: 70px;
    min-height: 250px;
}

.find-location {
    position: relative;
    width: 100%;

}

.find-location input[type="search"]{

    padding: 20px 50px 20px 20px;
    background: #1e202b9f;
    color: white !important;
    border: none;

} 

.find-location input[type="search"]::-webkit-search-cancel-button {
    margin-right: 100px !important;
    color: white !important;
}


.find-location input[type="button"]{
    position: absolute;
    top: -2px;
    right: 0px;
    border: none;
    background: #009bd8ad;
    padding: 15px 45px;
    color: white;
    margin: 7px;
}
#today-location{
    color: #BFC1C8 ;
}
#today-temp{
    font-size: 80px;
}
/* .tablee{

    margin-left: 320px ;
} */

.footer{
    margin-top: 80px !important;
}

.footer-icons{
    width: 40%;
    height: 40%;
    vertical-align: middle;
    margin-top: 5px;
}

#afterTomorrow-conditionImg , #tomorrow-conditionImg{
    width: 50px;
}

.email{
    position: relative;
    margin-bottom: 30px;
}
.email input[type="text"]{

    padding: 20px 50px 20px 20px;
    background: #1e202ba6;
    color: white !important;
    border: none;

}

.email input[ type="button"]{
    position: absolute;
    top: -2px;
    right: 0px;
    border: none;
    background: #009bd8b2;
    padding: 15px 30px;
    color: white;
    margin: 7px;
}

.media{
    padding-left: 150px !important ;
}
.media a i{
    background-color: #000000 !important;
    border-radius: 50px !important;
    border: 1px solid #1e202b !important;
    
}

.copyright{
    font-size: 14px;
}